<%- include ('./partials/header.ejs')%>
    <div>
    <img src="/images/bakery.png" alt="food" width = "1263" >                                                
    </div>                                        
<%- include('./partials/footer.ejs')%>